[submodule "meshtron"]
	path = meshtron
	url = https://github.com/RentschlerTobias/quadtron.git
	branch = main
[submodule "domain_partition"]
	path = domain_partition
	url = https://github.com/RentschlerTobias/domain_partition.git
[submodule "domain_partition_3D"]
	path = domain_partition_3D
	url = git@github.com:RentschlerTobias/domain_partition_3D.git
