# core pipeline (dp3d + domain_partition.py)
matplotlib==3.11.0
meshio==5.3.5
networkx==3.6.1
numba==0.66.0
numpy==2.4.4
scipy==1.17.1
torch==2.13.0
torch-geometric==2.8.0

# experimentell/gmsh_pipeline
gmsh==4.15.2
openmesh==1.2.1
plotly==6.6.0
